<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>任务已提交</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">信息泄露监测系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="{{ url_for('testHistory') }} " class="layui-this">测试记录</a></li>
            <!--<li class="layui-nav-item"><a href="">商品管理</a></li>
												<li class="layui-nav-item"><a href="">用户</a></li>-->
            <li class="layui-nav-item"><a href="{{ url_for('userMange') }}">账户管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="../static/img/car.jpg" class="layui-nav-img" alt="">
                    {{ account }}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="{{ url_for('pwdChange') }}">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="{{ url_for('index') }}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="nav">

                <li class="layui-nav-item layui-nav-itemed"><a href="{{ url_for('home') }}">系统状态</a></li>

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">监测结果</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('dataPrd') }}">长期监测任务</a></dd>
                        <dd><a href="{{ url_for('dataTempList') }}">临时监测任务</a></dd>
                        <dd><a href="{{ url_for('data') }}">网页风险信息</a></dd>

                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">监测任务</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('taskPrd') }}">长期监测任务</a></dd>
                        <dd><a href="{{ url_for('taskTemp') }}">临时监测任务</a></dd>
                        <dd><a href="{{ url_for('taskRule') }}">泄露监测规则</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">辅助工具</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('testReg') }}">文本检测测试 </a></dd>
                        <dd><a href="{{ url_for('testRule') }}">监测规则测试</a></dd>
                        <dd><a href="{{ url_for('testSite') }}">监测站点测试</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">运行日志</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('logUsr') }}">用户操作日志</a></dd>
                        <dd><a href="{{ url_for('logSys') }}">系统运行日志</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px">

            <div style="padding: 15px;font-size: 30px;text-align: center">测试任务历史</div>

        </div>

        <table class="layui-hide" id="table" lay-filter="myTable" style="padding: 20px"></table>


    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © copyright - SILD
    </div>
</div>
<script src="../static/layui/layui.js"></script>

<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
        element.init()

    });

    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#table',
            url: '{{ url_for("testTask.showTestData") }}',
            toolbar: '#myToolBar', //开启头部工具栏，并为其绑定左侧模板
            //defaultToolbar: ['filter', 'exports', 'print' ],
            height: 'full-200',
            title: '测试记录',


            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {type: 'numbers', title: '序号', width: "10%", sort: true, resize: 'true'},

                {field: 'rule', title: '测试规则', width: "10%", sort: true},
                {field: 'content', title: '匹配内容', width: "10%", sort: true},
                {field: 'page', title: '可检测页面数量/个', width: "10%", sort: true},
                {field: 'count', title: '泄露信息数量/条', width: "15%", sort: true},
                {field: 'url', title: '检测范围', width: "45%", sort: true},

            ]],

            response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            },
        });

        table.on('toolbar(myTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

            }
            ;
        });

        table.on('tool(myTable)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.email
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });

    });

</script>
</body>
</html>
